include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml
recursive-include greycloud *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
